*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  color: #373a39;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: #373a39;
}
li {
  list-style: none;
}
.content {
  width: 90%;
  margin: 0 auto;
}
.section {
  display: flex;
  min-height: 100vh;
}
.section__wrap {
  margin: 160px 0px;
}
.title h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 75px;
  font-family: "Montserrat", sans-serif;

  position: relative;
}
.title h2::before {
  content: "";
  width: 60px;
  height: 4px;
  left: 0px;
  top: 89px;

  background: #fcbb08;

  position: absolute;
}
.header,
.main {
  min-height: 100vh;
}
.navbar {
  width: 100%;

  position: fixed;
  background: #ffff;
  z-index: 5;
}
.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 30px 0;
}
.menu__list {
  display: flex;
}
.menu__item {
  display: block;

  margin-right: 50px;
  padding: 10px 5px;
}
.menu__item_action {
  border-bottom: 2px solid #fcbb08;
  transition: 0.2s linear;
}
.menu__item:last-child {
  margin-right: 0px;
}
.menu__link {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.hero {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
}
.hero__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}
.hero__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  margin-bottom: 20px;
}
.hero__title h1 {
  font-weight: bold;
  font-size: 100px;
  line-height: 122px;
  color: #ffff;
  text-transform: uppercase;
}
.hero__subtitle span {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fcbb08;
  text-transform: uppercase;
}
.hero__mouse {
  margin-bottom: 50px;
}
.about {
  min-height: 100vh;
  background: #f6f8fa;
}
.about__wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100%;

  margin: 150px 0px;
}
.about__title h2 {
  width: 350px;
}
.about__text {
  font-size: 14px;
  line-height: 24px;
}
.expertise__wrap {
  display: flex;
  flex-direction: column;
}
.expertise__title {
  margin-bottom: 110px;
}
.expertise__status-info {
  width: 100%;
  display: flex;

  margin-bottom: 120px;
}
.status-info__progress {
  display: flex;
  align-items: start;

  height: 2px;
  width: 370px;

  margin-bottom: 3px;

  background: #373a39;
}
.status-info__progress-bars {
  margin-right: 30px;
}
.status-info__item {
  margin-bottom: 30px;
}
.status-info__text {
  display: flex;
  justify-content: space-between;

  position: relative;
}
.status-info__title {
  text-transform: uppercase;
}
.status-info__value {
  position: absolute;
}
.status-info__value-1 {
  right: 20px;
}
.status-info__value-2 {
  right: 55px;
}
.status-info__value-3 {
  right: 35px;
}
.expertise__services {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.services__item {
  display: flex;
  width: 370px;
}
.services__img {
  margin-right: 35px;
}
.services__text h3 {
  margin-bottom: 15px;
}
.magic {
  background: #f6f8fa;
}
.magic__wrap {
  display: flex;
}
.magic__img {
  margin-right: 130px;
}
.magic__text {
  display: flex;
  flex-direction: column;
}
.magic__title {
  margin-bottom: 70px;
}
.portfolio__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-bottom: 110px;
}
.portfolio__gallery {
  display: flex;
  width: 100%;
}
.gallery__column {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: 100%;
  margin-right: 25px;
}
.gallery__column:last-child {
  margin-right: 0;
}
.gallery__item {
  margin-bottom: 25px;
  position: relative;
}
.gallery__img {
  height: 100%;
  width: 100%;
  background: #66656596;
}
.gallery__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  background: #66656596;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;

  transition: 0.5s linear;
}
.gallery__text h3 {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}
.gallery__text span {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.gallery__item:last-child {
  margin-bottom: 0;
}
.gallery__column:nth-child(1) .gallery__item:nth-child(1) {
  height: 494px;
}
.gallery__column:nth-child(1) .gallery__item:nth-child(2) {
  height: 395px;
}
.gallery__column:nth-child(2) .gallery__item {
  height: 288px;
}
.gallery__column:nth-child(3) .gallery__item:nth-child(1) {
  height: 367px;
}
.gallery__column:nth-child(3) .gallery__item:nth-child(2) {
  height: 523px;
}
.gallery__column:nth-child(4) .gallery__item:nth-child(1) {
  height: 318px;
}
.gallery__column:nth-child(4) .gallery__item:nth-child(2) {
  height: 572px;
}
.gallery__item {
  background: #ededed;
}
.portfolio__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 42px 0px;
  margin-top: 75px;

  background: #f6f8fa;
}
.portfolio__link a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.portfolio__quote {
  padding: 130px;
}
.portfolio__quote blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio__quote blockquote p {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 36px;
  font-style: italic;
}
.portfolio__quote blockquote span {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  color: #9E9E9E;
}
